/* ------HTML Section ------*/
/* Flex shared elements */
.container {
	display: -webkit-flex;
	display: flex;
}

.flex-col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.v-center {
	-webkit-align-items:center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.v-cRight {
	-webkit-align-items:center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
/* Basic elements */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #000;
	margin: 0px;
	font-size: .8em;
}

h1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	margin: 0px;
	font-size: 2.2em;
}


/* IDs */

#total, #report-date {
	-webkit-flex: 1;
	flex: 1;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 1.1em;
}

#tw-active, #ntb-active {
	-webkit-flex: 3;
	flex: 3;
}

#new {
	-webkit-flex:2;
	flex:2;
}

#annual {
	-webkit-flex:1;
	flex:1;
}

#report-date {
	text-align: center;
}

#yesterday-report {
	color: #ff4500;
	font-weight: bold;
}

/* Classes */
.wrapper {
	width: 960px;
	margin: 0px auto;
	/*background-color: #8e8e8e;*/
}
.title{
	margin-bottom: 10px;
}
.section {
	-webkit-flex-direction: row;
	flex-direction:row;
	margin-bottom: 35px;
	/*background-color: #ff6103;*/
}


.flex-sub{
	/*background-color: #7171c6;*/
	-webkit-flex: 1;
	flex: 1;
	margin: 1px;
}

.description {
	margin-bottom: 20px;
	color: #808080;
}

.highlight {
	color: #ff4500;
}

.full {
	padding-right: 33.33%;
}

/* text classes */
.align-right{
	text-align: right;
}
.active {
	color:#ff4500;
	font-size: 1.8em;
	font-weight: bold;
}

.header {
	margin: 1px auto;
	text-align: center;
}

.name {
	-webkit-flex: 1;
	flex: 1;
	font-weight: bold;
	font-size: 1.2em;
}

.region {
	-webkit-flex: 3;
	flex: 3;
}

.bullet-label {
	font-weight: bold;
	font-size: 1.2em;
}

/* JS styles */
.line {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}

.text, .bulletText.new {
	fill: #000;
	font-size: .8em;
	font-weight: bold;
}

.barAvg {
	fill: #8e8e8e;
	fill-opacity: 1;
}

.annual.text{
	font-size: 1.2em;
}

.bulletText.label {
	font-size: 1em;
}

.lineText.voucher, .bulletText.total{
	fill: #000;
	font-size: .8em;
	font-weight: bold;
}

.bulletSum {
	fill: #009b95;
}

.bulletNew {
	fill: #eeee00;
}

.bar {
	fill: #009b95;
}

.xBar.axis, .xLine.axis, .yLine.axis, .bullet.axis {
	font-size: .8em;
}

.xLine.axis line, .yLine.axis line, .bullet.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.xLine.axis path,
.bullet.axis path,.xBar.axis line,
.annual.xAxis path{
	display: none;
}

.yLine.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.xBar.axis path {
	display: none;
}

.line1{
	fill: none;
	stroke: #ff7100;
	stroke-width: 1.5px;
}

.line2{
	fill: none;
	stroke: #009b95;
	stroke-width: 1.5px;
}

.line3{
	fill: none;
	stroke: #eeee00;
	stroke-width: 1.5px;
}

.line.avg{
	fill: none;
	stroke: #8e8e8e;
	/*stroke-dasharray: 5,5;*/
	stroke-width: .8px;
	stroke-opacity: .8;
}

.rect.avg {
	fill: #eaeaea;
}