/* ------HTML Section ------*/
/* Flex shared elements */
.container {
	display: -webkit-flex;
	display: flex;
}

.flex-col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.v-center {
	-webkit-align-items:center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.v-cRight {
	-webkit-align-items:center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
/* Basic elements */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #000;
	margin: 0px;
	font-size: .8em;
}

h1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	margin: 0px;
	font-size: 2.2em;
}


/* IDs */

#total, #report-date {
	-webkit-flex: 1;
	flex: 1;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 1.1em;
}

#tw-active, #ntb-active {
	-webkit-flex: 3;
	flex: 3;
}

#new {
	-webkit-flex:2;
	flex:2;
}

#annual {
	-webkit-flex:1;
	flex:1;
}

#report-date {
	text-align: center;
}

/* Classes */
.wrapper {
	width: 960px;
	margin: 0px auto;
	/*background-color: #8e8e8e;*/
}

.section {
	-webkit-flex-direction: row;
	flex-direction:row;
	margin-bottom: 20px;
	/*background-color: #ff6103;*/
}

.flex-sub{
	/*background-color: #7171c6;*/
	-webkit-flex: 1;
	flex: 1;
	margin: 1px;
}



/* text classes */
.align-right{
	text-align: right;
}
.active {
	color:#ffa500;
	font-size: 1.8em;
	font-weight: bold;
}

.header {
	margin: 1px auto;
	text-align: center;
}

.name {
	-webkit-flex: 1;
	flex: 1;
	font-size: 1.5em;
}

.region {
	-webkit-flex: 2;
	flex: 2;
}

.bullet-label {
	font-size: 1.2em;
}

/* JS styles */
.line {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}

.text, .bulletText.new {
	fill: #ffa500;
	font-size: .8em;
	font-weight: bold;
}

.annual.text{
	font-size: 1.2em;
}

.bulletText.label {
	font-size: 1em;
}

.bulletText.total{
	fill: #000;
	font-size: .8em;
	font-weight: bold;
}

.bulletNew {
	fill:#eeee00;
}

.xBar.axis, .xLine.axis, .yLine.axis, .bullet.axis {
	font-size: .8em;
}

.xLine.axis line, .yLine.axis line, .bullet.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.xLine.axis path, .yLine.axis path,
.xBar.axis path, .xBar.axis line, .bullet.axis path,
.annual.xAxis path{
	display: none;
}

