/* stylesheet for dash1.html template */
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	margin: 0;
	background-color: #fff;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis text {
	font-size: 8px;
}

.x.axis path {
	display: none;
}

.line {
	fill:none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

#wrapper {
	width: 940px;
	min-height: 500px;
	margin: 10px auto 0px;
	background-color: #fff;
}

#header {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 25px;
	position: relative;
	width: 100%;
	margin: 0px auto;
	min-height: 25px;
	padding: 3px;
}

#top {
	background-color: #fff;
	position: relative;
	width: 100%;
	margin: 0px auto;
	min-height: 250px;
}

#primary {
	background-color: #fff;
	position: relative;
	float: left;
	width: 60%;
	min-height: 250px;
}

#stb-line {
	background-color: #fff;
	position: relative;
	width: 500px;
	height: 220px;
	margin: 10px auto;
}

#secondary {
	background-color: #fff;
	position: relative;
	float: left;
	width: 40%;
	min-height: 250px;
}

#taiex-line {
	background-color: #fff;
	position: relative;
	float: top;
	width: 100%;
	min-height: 125px;
}

#combo-line{
	background-color: #fff;
	position: relative;
	float: top;
	width: 100%;
	min-height: 125px;
}

#bottom {
	background-color: #fff;
	position: relative;
	min-height: 250px;
}