/* d3 stylesheet */

.axis path {
	display: none;
}
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis text {
	font-size: 14px;
}

.x.axis path {
	display: none;
}

.line {
	fill:none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

/* stylesheet for dash1.html template */
body {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	margin: 0;
	background-color: #fff;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

#wrapper {
	width: 940px;
	min-height: 500px;
	margin: 10px auto 0px;
	background-color: #fff;
}

#header {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 25px;
	position: relative;
	width: 100%;
	margin: 0px auto;
	min-height: 25px;
	padding: 3px;
}

#section-1 {
	background-color: #fff;
	position: relative;
	width: 100%;
	min-height: 250px;
}

#primary {
	background-color: #fff;
	position: relative;
	float: left;
	width: 50%;
	min-height: 250px;
}

#ntb-line {
	background-color: #fff;
	position: relative;
	float:left;
	width: 50%;
	height: 250px;
}

#tw-line {
	background-color: #fff;
	position: relative;
	float: left;
	width: 50%;
	height: 250px;
}

#secondary {
	background-color: #000;
	position: relative;
	float: left;
	width: 50%;
	min-height: 250px;
}

#taiex-line {
	background-color: #fff;
	position: relative;
	float: top;
	width: 100%;
	min-height: 125px;
}

#combo-line{
	background-color: #fff;
	position: relative;
	float: top;
	width: 100%;
	min-height: 125px;
}

#section-2 {
	background-color: #fff;
	position: relative;
	min-height: 250px;
}