/* d3 stylesheet */

.axis path {
	display: none;
}
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis text {
	font-size: 14px;
}

.x.axis path {
	display: none;
}

.line {
	fill:none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

/* stylesheet for dash1.html template */
body {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	margin: 0;
	background-color: #fff;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

#wrapper {
	width: 940px;
	min-height: 500px;
	margin: 20px auto 20px;
	background-color: #fff;
}

#header {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 25px;
	position: relative;
	width: 100%;
	margin: 0px auto;
	min-height: 25px;
	padding: 3px;
}

#section-1 {
	background-color: #fff;
	position: relative;
	width: 100%;
	min-height: 250px;
}

		#ntb-line {
			background-color: #fff;
			position: relative;
			float:left;
			width: 50%;
			height: 250px;
		}

		#tw-line {
			background-color: #fff;
			position: relative;
			float: left;
			width: 50%;
			height: 250px;
		}

#section-2 {
	background-color: #fff;
	position: relative;
	width: 100%;
	min-height: 250px;
}

		#voucher-table {
			width: 100%;
			margin-top: 30px;
		}

		#voucher-table th{
			font-weight: normal;
		}

		#voucher-table td{
			height: 50px;
			border-width: 1px 0px;
			border-color: #d4d4d4;
		}
			.rowName {
				
			}
			.stb {
				background-color: #fdfafa;
				width: 200px;
				border-style: solid;
			}

			.te {
				background-color: #f0ffff;
				width: 200px;
				border-style: solid;
			}

			.cb {
				background-color: #eaeaf8;
				width: 200px;
				border-style: solid;
			}

			.up {
				background-color: #faf0f7;
				width: 200px;
				border-style: solid;
			}