/* flex box model */
.container {
    display: -webkit-flex;
    display: flex;
}

/* page layout */
#navbar {
     ul {
        display: -webkit-flex;
        display: flex;
        }
        li {
            -webkit-flex: 1;
            flex: 1;
            list-style-type: none;
        }
    }