<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>dashboard template</title>
		<script src="../js/lib/d3.v3.js"></script>
		<link rel="stylesheet" href="../css/dash_style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div class="header">
				<h1>Sales Summary</h1>
			</div>
			<div id="left-main">
				key stats
			</div>
			<div id="right-main">
				<div id="section-1" class="section">
					<div class="sub-header"><h3>New STB Activations</h3></div>
					<div id="ntb-line">
						<!--graph in here (test)-->
					</div>
					<div id="tw-line">
						<!--graph in here-->
					</div>
				</div>
				<div id="section-2" class="section">
					<div class="sub-header"><h3>Sales Trend by Time Intervals</h3></div>
					<table id="voucher-table">
						<thead>
							<tr>
								<th></th>
								<th>Past 7 Days</th>
								<th>Past 14 Days</th>
								<th>Past 21 Days</th>
								<th>Past 28 Days</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="rowName">New STB</td>
								<td id="stb7" class="stb"></td>
								<td id="stb14" class="stb"></td>
								<td id="stb21" class="stb"></td>
								<td id="stb28" class="stb"></td>
							</tr>
							<tr>
								<td class="rowName">TaiEx</td>
								<td id="te7"class="te"></td>
								<td id="te14" class="te"></td>
								<td id="te21" class="te"></td>
								<td id="te28" class="te"></td>
							</tr>
							<tr>
								<td class="rowName">Combo</td>
								<td id="cb7"class="cb"></td>
								<td id="cb14" class="cb"></td>
								<td id="cb21" class="cb"></td>
								<td id="cb28" class="cb"></td>
							</tr>
							<tr>
								<td class="rowName">Upgrade</td>
								<td id="up7"class="up"></td>
								<td id="up14" class="up"></td>
								<td id="up21" class="up"></td>
								<td id="up28" class="up"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="../js/stb_new.js"></script>
		<script src="../js/voucher.js"></script>
	</body>
</html>