<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>dashboard template</title>
		<script src="../js/lib/d3.v3.js"></script>
		<link rel="stylesheet" href="../css/dash_style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1>Sales Summary</h1>
			</div>
			<div id="section-1">
				<div id="ntb-line">
					<!--graph in here-->
				</div>
				<div id="tw-line">
					<!--graph in here-->
				</div>
			</div>
			<div id="secondary">
				<div id="taiex-line">
				</div>
				<div id="combo-line">
				</div>
			</div>
			<div id="section-2">
			</div>
		</div>
		<script src="../js/stb_new.js"></script>
	</body>
</html>